header {
  height: 902px;
  background-image: url("../../img/header-back.jpg");
}

.header {
  &-top {
    background-color: rgba(0,0,0,0.75);
    height: 80px;
  }
  
  &-nav {
    ul {
      margin: 20px 0 20px 20px;
    }

    li {
      margin-right: 54px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: #fff;
      font-size: 20px;
      font-weight: 200;
    }
  }
}

.logo {
  padding: 16px;

  margin-left: 6px;
}