header {
  height: 902px;
}

.header {
  &-top {
    background-color: rgba(0,0,0,0.75);
    height: 80px;

    position: relative;
    z-index: 2;
  }
  
  &-nav {
    ul {
      margin: 20px 0 20px 20px;
    }

    li {
      margin-right: 54px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: #fff;
      font-size: 20px;
      font-weight: 200;
    }
  }
  
  &-center {
    top: -80px;
    position: relative;
    z-index: 1;

    img, & {
      height: 100%;
      width: 100%;
    }
    
    img {
      max-width: 100%;
    }
  }

  &-footer {
    background-color: rgba(75, 149, 230, 0.85);
    color: #fff;
    font-size: 20px;

    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    min-height: 204px;
    
    &-text {
      width: 51%;
      margin-left: 22px;
    }
  }
}

.logo {
  padding: 16px;

  margin-left: 6px;
}